.head {
    padding-top: 10%;
    font-size: 200%;
  }
  .main{
    background-image: url(" https://assets.ccbp.in/frontend/react-js/congrats-card-bg.png");
    text-align: center;
    padding-bottom: 5%;
    margin: auto;
    width: 30%;
  
  }
  .card {
    width: 80%;
    margin: auto;
    text-align: center;
    background-color: rgb(163 227 235);
  }
  
  .imgclass {
    width:50%;
    padding-top: 10%;
  }
  .cardtitle {
    text-align: center;
  }
  
  .card-text {
    text-align: center;
  }